* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* ///// 1a. Colors /////// */
  /* Main Colors */
  --light-orange: #fd8b003a;
  --molecular-orange: #fd8c00;
}
body {
  margin: 0;
  color: #647787 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-behavior: smooth;
  height: 100%;
  background-color: #ffffff !important;
  font-size: 14px !important;
  background: #ffffff;
}
@media (max-width: 700px) {
  body {
    font-size: 14px;
  }
  .fcshopimage {
    width: 100%;
    margin-bottom: 2rem !important;
    padding-right: 0px;
  }
  .rtail1 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    margin-left: 1rem;
  }
}
hr {
  margin: 1.2rem 0 !important;
}
html {
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}
.newitem {
  overflow-y: scroll;
  min-height: 500px;
  max-height: 525px;
}

a,
a:hover {
  text-decoration: none;
}
select ::placeholder,
select {
  color: #000000 !important;
}
@media (max-width: 1100px) {
  .rtail2 {
    max-width: 1000px !important;
  }
  .fcshopimage {
    width: 100%;
    margin-bottom: 2rem !important;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}